@* Views/Shared/_Partners.cshtml *@
<section id="partners" class="section">
    <div class="container">
        <div class="text-center mb-4">
            <div class="text-muted small">Đối tác</div>
            <h2 class="section-title">Tin cậy & đồng hành</h2>
        </div>

        <ul class="partner-logos">
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-1.jpg"  asp-append-version="true" alt="Logo đối tác 1" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-2.jpg"  asp-append-version="true" alt="Logo đối tác 2" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-3.jpg"  asp-append-version="true" alt="Logo đối tác 3" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-4.jpg"  asp-append-version="true" alt="Logo đối tác 4" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-5.jpg"  asp-append-version="true" alt="Logo đối tác 5" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-6.jpg"  asp-append-version="true" alt="Logo đối tác 6" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-7.jpg"  asp-append-version="true" alt="Logo đối tác 7" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-8.jpg"  asp-append-version="true" alt="Logo đối tác 8" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-9.jpg"  asp-append-version="true" alt="Logo đối tác 9" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-10.jpg" asp-append-version="true" alt="Logo đối tác 10" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-11.png" asp-append-version="true" alt="Logo đối tác 11" />
                </div>
            </li>
            <li>
                <div class="partner-card">
                    <img class="partner-logo" src="~/img/thuonghieu/logo-12.png" asp-append-version="true" alt="Logo đối tác 12" />
                </div>
            </li>
        </ul>
    </div>
</section>
